In [2]:
list = [0,1,2,3,4,5,6,7,8,9]
del (list[6])
del (list[8])
print (list)

[0, 1, 2, 3, 4, 5, 7, 8]

In [4]:
list = [1,4,5,6]
del (list[0])
del (list[2])
list.append(1)
list.insert(0,6)
print (list)

[6, 4, 5, 1]

In [5]:
list = ['My','name','is','abc']
list.reverse()
print (list)

['abc', 'is', 'name', 'My']

In [6]:
list = [1,2,3,4,5]
list.reverse()
print (list)

[5, 4, 3, 2, 1]

In [7]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) # Declaring the tuple
count_odd = 0
count_even = 0
for x in numbers:
        if not x % 2:
    	     count_even+=1
        else:
    	     count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 4
Number of odd numbers : 5

In [17]:
str = "I loves himachal"
modified_str = '' 
  
# iterating over the string 
for char in range(0, len(str)): 
  
    # checking if the char index is equivalent to n 
    if(char != 6): 
         # append original string character 
        modified_str += str[char] 
        
print("Modified string after removing ", 6, "th character ") 
print(modified_str)

Modified string after removing  6 th character
I love himachal

In [31]:
#given string
string1="Python is great"
 
#printing the string
print("Actual String: ",string1) 
   
print("String coverted to list :",string1.split()) 
#prints the list given by split()

Actual String:  Python is great
String coverted to list : ['Python', 'is', 'great']

In [36]:
list = [1,2,3,4,5]
print (sum(list))
print (max(list))

15
5

In [37]:
a=[2,9,4,5]
b=[3,5,7,2]
print(set(a).intersection(b))

{2, 5}

In [18]:
s = ['a', 'b', 'c', 'd']
str1 =''.join(s)
print(str1)

abcd

In [19]:
def add(a,b):
    print("sum",a+b)
    
    
    add(99,10)

In [2]:
import pandas as pd
df = pd.read_csv('C:\\Users\\shrey\\anaconda3\\ratings.csv')

In [3]:
test = df.groupby(['book_id'])[["rating"]].count()
print(test)

         rating
book_id
1           100
2           100
3           100
4           100
5           100
...         ...
9996         98
9997         89
9998         95
9999         99
10000        96

[10000 rows x 1 columns]

In [49]:
df1=pd.read_csv('C:\\Users\\shrey\\anaconda3\\userss.csv')
print(df1)
print("average: ",df1["age"].mean())

       userid  reputation          displayname                loc   age
0      382275        2792                Steve       West Linn OR  48.0
1      382276          21                Yoshi      United States   NaN
2      382277          21                Nancy                NaN   NaN
3      382278          39           hanguofeng                NaN   NaN
4      382279         612           jalagrange                NaN  28.0
...       ...         ...                  ...                ...   ...
49995  118593         790  Tautrimas Pajarskas  Vilnius Lithuania  25.0
49996  118597        1024                 GivP   San Francisco CA   NaN
49997  118605          86               Balaji              India  31.0
49998  118606        2604               Lohrun       Paris France  31.0
49999  118608         300                  qff                NaN   NaN

[50000 rows x 5 columns]
average:  35.263352397712275

In [92]:
df6=pd.read_csv('C:\\Users\\shrey\\anaconda3\\comments.csv')
print(df6)

       userid        id
0      134554  15494835
1       11480  15494875
2      104891  15494879
3       29407  15494920
4       64174  15494921
...       ...       ...
49995   44309  16033697
49996  139985  16033699
49997    6782  16033700
49998   68172  16033702
49999   22656  16033706

[50000 rows x 2 columns]

In [17]:
df2=pd.read_csv('C:\\Users\\shrey\\anaconda3\\post.csv')
print(df2)

          id  post_type      creationdate  score  viewcount  userid  \
0          4          1  31-07-2008 21:42    222    13150.0       8
1          6          1  31-07-2008 22:08     98     6691.0       9
2          7          2  31-07-2008 22:17    176        NaN       9
3          8          1  31-07-2008 23:33     30     2432.0       9
4          9          1  31-07-2008 23:40    582   133946.0       1
...      ...        ...               ...    ...        ...     ...
49995  79673          2  17-09-2008 03:31      2        NaN   10778
49996  79674          2  17-09-2008 03:31      1        NaN   13116
49997  79675          2  17-09-2008 03:31      2        NaN   14841
49998  79676          2  17-09-2008 03:32      9        NaN   13564
49999  79677          1  17-09-2008 03:32     16     9817.0     813

                                                   title answercount  \
0      When setting a form's opacity should I use a d...          13
1      Why doesn't the percentage width child in abso...           5
2                                                    NaN         NaN
3              Tool for Converting Visual J# code to C#?           3
4                       How do I calculate someone's age          37
...                                                  ...         ...
49995                                                NaN         NaN
49996                                                NaN         NaN
49997                                                NaN         NaN
49998                                                NaN         NaN
49999        What's the best way to do fixed-point math?           9

      commentcount Unnamed: 9 Unnamed: 10 Unnamed: 11  Unnamed: 12
0               34        NaN         NaN         NaN          NaN
1               12        NaN         NaN         NaN          NaN
2                0        NaN         NaN         NaN          NaN
3                0        NaN         NaN         NaN          NaN
4                4        NaN         NaN         NaN          NaN
...            ...        ...         ...         ...          ...
49995          NaN        NaN         NaN         NaN          NaN
49996          NaN        NaN         NaN         NaN          NaN
49997            2        NaN         NaN         NaN          NaN
49998          NaN        NaN         NaN         NaN          NaN
49999            1        NaN         NaN         NaN          NaN

[50000 rows x 13 columns]

In [53]:
df3=pd.merge(df1,df2,on='userid',how='inner')
df4=print(df3)

       userid  reputation         displayname             loc   age       id  \
0           1       32882         Jeff Atwood   El Cerrito CA  44.0        9
1           1       32882         Jeff Atwood   El Cerrito CA  44.0       11
2           1       32882         Jeff Atwood   El Cerrito CA  44.0       12
3           1       32882         Jeff Atwood   El Cerrito CA  44.0      986
4           1       32882         Jeff Atwood   El Cerrito CA  44.0     1016
...       ...         ...                 ...             ...   ...      ...
49819  117775        4762  Waleed Al-Balooshi        Michigan  33.0  2098710
49820  117775        4762  Waleed Al-Balooshi        Michigan  33.0  2098748
49821  118091        8140              runmad  Toronto Canada   NaN  2098895
49822  118464        3083               Ariel             NaN   NaN  2097867
49823  118547        6062             Jourkey             NaN   NaN  2099048

       post_type      creationdate  score  viewcount  \
0              1  31-07-2008 23:40    582   133946.0
1              1  31-07-2008 23:55    639    59517.0
2              2  31-07-2008 23:56    186        NaN
3              2   04-08-2008 2:45      3        NaN
4              2   04-08-2008 4:31      8        NaN
...          ...               ...    ...        ...
49819          2  20-01-2010 02:36      2        NaN
49820          2  20-01-2010 02:53      4        NaN
49821          1  20-01-2010 03:44      2     4453.0
49822          2  19-01-2010 22:58      0        NaN
49823          1  20-01-2010 04:31      1      834.0

                                                  title answercount  \
0                      How do I calculate someone's age          37
1                     How do I calculate relative time?          28
2                                                   NaN         NaN
3                                                   NaN         NaN
4                                                   NaN         NaN
...                                                 ...         ...
49819                                               NaN         NaN
49820                                               NaN         NaN
49821  NSNumber numberWithInt: returns strange numbers?           1
49822                                               NaN         NaN
49823           Drupal: Fivestar Block with voting axis           1

      commentcount Unnamed: 9 Unnamed: 10 Unnamed: 11  Unnamed: 12
0                4        NaN         NaN         NaN          NaN
1                9        NaN         NaN         NaN          NaN
2               11        NaN         NaN         NaN          NaN
3              NaN        NaN         NaN         NaN          NaN
4              NaN        NaN         NaN         NaN          NaN
...            ...        ...         ...         ...          ...
49819          NaN        NaN         NaN         NaN          NaN
49820            3        NaN         NaN         NaN          NaN
49821          NaN        NaN         NaN         NaN          NaN
49822            1        NaN         NaN         NaN          NaN
49823          NaN        NaN         NaN         NaN          NaN

[49824 rows x 17 columns]

In [71]:
df3.max()

userid                    118547
reputation                736381
displayname      Željko Živković
age                         94.0
id                       2099157
post_type                      2
creationdate    31-08-2008 23:59
score                       2085
viewcount               758492.0
Unnamed: 12                  8.0
dtype: object

In [90]:
import pandas as pd
df_filtered = df3[(df3.reputation == 736381)]
print(df_filtered.groupby(["reputation"])[['post_type']].count())

            post_type
reputation
736381              1

In [93]:
df_filtered = df3[(df3.viewcount == 758492)]
print(df_filtered.groupby(["id"])[['post_type']].count())

       post_type
id
25969          1