In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df= pd.read_csv('C:\\Users\\shrey\\anaconda3\\fruit.csv')
df.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [3]:
i = df[['mass', 'width', 'height']]
d = df['fruit_label']

In [4]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(i, d, test_size=0.2, random_state=0)

In [5]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=1)
knn.fit(xtrain,ytrain)
predict=knn.predict(xtest)

In [6]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,predict)

0.6666666666666666

In [7]:
#wine assignment
df1= pd.read_csv('C:\\Users\\shrey\\anaconda3\\wine.csv')
df1.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [8]:
i = df1[['fixed acidity', 'volatile acidity', 'citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol']]
d = df1['type']

In [9]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(i, d, test_size=0.2, random_state=0)

In [10]:
xtrain

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
5372,10.5,0.280,0.51,1.7,0.080,10.0,24.0,0.99820,3.20,0.89,9.4
1790,9.4,0.160,0.30,1.4,0.042,26.0,176.0,0.99540,3.15,0.46,9.1
5879,9.5,0.860,0.26,1.9,0.079,13.0,28.0,0.99712,3.25,0.62,10.0
1065,8.3,0.220,0.38,14.8,0.054,32.0,126.0,1.00020,3.22,0.50,9.7
852,6.9,0.180,0.36,1.3,0.036,40.0,117.0,0.99340,3.27,0.95,9.5
...,...,...,...,...,...,...,...,...,...,...,...
4931,6.9,0.605,0.12,10.7,0.073,40.0,83.0,0.99930,3.45,0.52,9.4
3264,5.9,0.240,0.12,1.4,0.035,60.0,247.0,0.99358,3.34,0.44,9.6
1653,7.9,0.330,0.28,31.6,0.053,35.0,176.0,1.01030,3.15,0.38,8.8
2607,8.9,0.260,0.33,8.1,0.024,47.0,202.0,0.99558,3.13,0.46,10.8
2732,7.9,0.510,0.34,2.6,0.049,13.0,135.0,0.99335,3.09,0.51,10.0

In [11]:
xtrain.replace([np.inf, -np.inf], np.nan, inplace=True)

In [12]:
xtrain.fillna(999, inplace=True)

In [13]:
xtest.replace([np.inf, -np.inf], np.nan, inplace=True)

In [14]:
xtest.fillna(999, inplace=True)

In [15]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=13)
knn.fit(xtrain,ytrain)
predict=knn.predict(xtest)

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,predict)

0.936923076923077

In [17]:
#diabetic assignment using knn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [18]:
df2= pd.read_csv('C:\\Users\\shrey\\anaconda3\\diabetes.csv')
df2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [19]:
i = df2[['Glucose', 'BloodPressure', 'SkinThickness','Insulin','BMI','DiabetesPedigreeFunction']]
d = df2['Outcome']

In [20]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(i, d, test_size=0.2, random_state=0)
xtrain

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction
603,150,78,29,126,35.2,0.692
118,97,60,23,0,28.2,0.443
247,165,90,33,680,52.3,0.427
157,109,56,21,135,25.2,0.833
468,120,0,0,0,30.0,0.183
...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171
192,159,66,0,0,30.4,0.383
629,94,65,22,0,24.7,0.148
559,85,74,0,0,30.1,0.300
684,136,82,0,0,0.0,0.640

In [50]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=80)
knn.fit(xtrain,ytrain)
predict=knn.predict(xtest)

In [51]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,predict)

0.8051948051948052

In [ ]:
#diabetic assignment using logistic regression