In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv ('C:\\Users\\shrey\\anaconda3\\Health.csv')
print(df.shape)
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

(9, 4)

In [2]:
from sklearn.impute import SimpleImputer
im = SimpleImputer(missing_values=np.nan,strategy='mean')
im
df.iloc[:,[1,2]]=im.fit_transform(df.iloc[:,[1,2]])
df.iloc[:,[1,2]]
df

  Ethnicity  Height (CM)  Weight (Kg) Will survive till 70
0     White        186.0        90.00                  Yes
1   African        185.0        98.00                   No
2     Asian        175.0        80.00                   No
3     White        180.0        88.00                  Yes
4     Asian        178.0        85.25                   No
5     Asian        172.0        72.00                  Yes
6   African        178.0        75.00                   No
7     White        180.0        89.00                  Yes
8   African        186.0        90.00                  Yes

In [3]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
df['Will survive till 70']= le.fit_transform(df['Will survive till 70'])

In [4]:
le= LabelEncoder()
df['Ethnicity']= le.fit_transform(df['Ethnicity'])
df.head()

   Ethnicity  Height (CM)  Weight (Kg)  Will survive till 70
0          2        186.0        90.00                     1
1          0        185.0        98.00                     0
2          1        175.0        80.00                     0
3          2        180.0        88.00                     1
4          1        178.0        85.25                     0

In [5]:
i = df.iloc [:,:3]
d = df.iloc [:,3]
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(i,d,test_size=.15)
print(xtrain)
print(xtest)
print(ytrain)
print(ytest)

   Ethnicity  Height (CM)  Weight (Kg)
8          0        186.0        90.00
1          0        185.0        98.00
4          1        178.0        85.25
7          2        180.0        89.00
3          2        180.0        88.00
0          2        186.0        90.00
5          1        172.0        72.00
   Ethnicity  Height (CM)  Weight (Kg)
2          1        175.0         80.0
6          0        178.0         75.0
8    1
1    0
4    0
7    1
3    1
0    1
5    1
Name: Will survive till 70, dtype: int32
2    0
6    0
Name: Will survive till 70, dtype: int32

In [6]:
xtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 8 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ethnicity    7 non-null      int32
 1   Height (CM)  7 non-null      float64
 2   Weight (Kg)  7 non-null      float64
dtypes: float64(2), int32(1)
memory usage: 196.0 bytes

In [8]:
from sklearn.linear_model import LogisticRegression
LRclassifier=LogisticRegression()
LRclassifier.fit(xtrain,ytrain)
Prediction=LRclassifier.predict(xtest)
print("predicted y records:")
print(Prediction)
print(ytest)
print(xtest)

predicted y records:
[1 1]
2    0
6    0
Name: Will survive till 70, dtype: int32
   Ethnicity  Height (CM)  Weight (Kg)
2          1        175.0         80.0
6          0        178.0         75.0

In [9]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ytest,Prediction))

0.0

In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv ('C:\\Users\\shrey\\anaconda3\\diabetes.csv')
print(df.shape)
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

(768, 9)

In [11]:
pd.read_csv ('C:\\Users\\shrey\\anaconda3\\diabetes.csv')

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [13]:
from sklearn.impute import SimpleImputer
im = SimpleImputer(missing_values=np.nan,strategy='mean')
im
df.iloc[:,[0,8]]=im.fit_transform(df.iloc[:,[0,8]])
df.iloc[:,[0,8]]
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1.0
1,1.0,85,66,29,0,26.6,0.351,31,0.0
2,8.0,183,64,0,0,23.3,0.672,32,1.0
3,1.0,89,66,23,94,28.1,0.167,21,0.0
4,0.0,137,40,35,168,43.1,2.288,33,1.0
...,...,...,...,...,...,...,...,...,...
763,10.0,101,76,48,180,32.9,0.171,63,0.0
764,2.0,122,70,27,0,36.8,0.340,27,0.0
765,5.0,121,72,23,112,26.2,0.245,30,0.0
766,1.0,126,60,0,0,30.1,0.349,47,1.0
767,1.0,93,70,31,0,30.4,0.315,23,0.0

In [14]:
i = df.iloc [:,:7]
d = df.iloc [:,8]
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(i,d,test_size=.15)
print(xtrain)
print(xtest)
print(ytrain)
print(ytest)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
375         12.0      140             82             43      325  39.2
366          6.0      124             72              0        0  27.6
374          2.0      122             52             43      158  36.2
419          3.0      129             64             29      115  26.4
281         10.0      129             76             28      122  35.9
..           ...      ...            ...            ...      ...   ...
170          6.0      102             82              0        0  30.8
305          2.0      120             76             37      105  39.7
494          3.0       80              0              0        0   0.0
65           5.0       99             74             27        0  29.0
360          5.0      189             64             33      325  31.2

     DiabetesPedigreeFunction
375                     0.528
366                     0.368
374                     0.816
419                     0.219
281                     0.280
..                        ...
170                     0.180
305                     0.215
494                     0.174
65                      0.203
360                     0.583

[652 rows x 7 columns]
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
497          2.0       81             72             15       76  30.1
306         10.0      161             68             23      132  25.5
1            1.0       85             66             29        0  26.6
83           0.0      101             65             28        0  24.6
685          2.0      129             74             26      205  33.2
..           ...      ...            ...            ...      ...   ...
23           9.0      119             80             35        0  29.0
453          2.0      119              0              0        0  19.6
245          9.0      184             85             15        0  30.0
421          2.0       94             68             18       76  26.0
763         10.0      101             76             48      180  32.9

     DiabetesPedigreeFunction
497                     0.547
306                     0.326
1                       0.351
83                      0.237
685                     0.591
..                        ...
23                      0.263
453                     0.832
245                     1.213
421                     0.561
763                     0.171

[116 rows x 7 columns]
375    1.0
366    1.0
374    0.0
419    1.0
281    0.0
      ...
170    1.0
305    0.0
494    0.0
65     0.0
360    1.0
Name: Outcome, Length: 652, dtype: float64
497    0.0
306    1.0
1      0.0
83     0.0
685    0.0
      ...
23     1.0
453    0.0
245    1.0
421    0.0
763    0.0
Name: Outcome, Length: 116, dtype: float64

In [15]:
xtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 652 entries, 375 to 360
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               652 non-null    float64
 1   Glucose                   652 non-null    int64
 2   BloodPressure             652 non-null    int64
 3   SkinThickness             652 non-null    int64
 4   Insulin                   652 non-null    int64
 5   BMI                       652 non-null    float64
 6   DiabetesPedigreeFunction  652 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 40.8 KB

In [16]:
from sklearn.linear_model import LogisticRegression
LRclassifier=LogisticRegression()
LRclassifier.fit(xtrain,ytrain)
Prediction=LRclassifier.predict(xtest)
print("predicted y records:")
print(Prediction)
print(ytest)
print(xtest)

predicted y records:
[0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 0. 1. 0.
 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0.
 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 1. 1. 1. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 1. 0. 0.]
497    0.0
306    1.0
1      0.0
83     0.0
685    0.0
      ...
23     1.0
453    0.0
245    1.0
421    0.0
763    0.0
Name: Outcome, Length: 116, dtype: float64
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
497          2.0       81             72             15       76  30.1
306         10.0      161             68             23      132  25.5
1            1.0       85             66             29        0  26.6
83           0.0      101             65             28        0  24.6
685          2.0      129             74             26      205  33.2
..           ...      ...            ...            ...      ...   ...
23           9.0      119             80             35        0  29.0
453          2.0      119              0              0        0  19.6
245          9.0      184             85             15        0  30.0
421          2.0       94             68             18       76  26.0
763         10.0      101             76             48      180  32.9

     DiabetesPedigreeFunction
497                     0.547
306                     0.326
1                       0.351
83                      0.237
685                     0.591
..                        ...
23                      0.263
453                     0.832
245                     1.213
421                     0.561
763                     0.171

[116 rows x 7 columns]

In [17]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ytest,Prediction))

0.8189655172413793

In [1]:
#kaggle assignment
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df= pd.read_csv('C:\\Users\\shrey\\anaconda3\\USA_housing.csv')
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [3]:
i = df[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms', 'Avg. Area Number of Bedrooms', 'Area Population']]
d = df['Price']

In [4]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(i, d, test_size=0.3, random_state=42)

In [5]:
from sklearn.linear_model import LogisticRegression
LRclassifier=LogisticRegression()
LRclassifier.fit(xtrain,ytrain)
Prediction=LRclassifier.predict(xtest)
print("predicted y records:")
print(Prediction)
print(ytest)
print(xtest)

ValueError: Unknown label type: 'continuous'